<form class="pb-4">
    <div class="mb-3">
        <label for="exampleInputName1" class="form-label">Full Name&nbsp;:</label>
        <input type="email" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address&nbsp;:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Embodied Healing
        </label>
    </div>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Relational Healing
        </label>
    </div>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Community Cura
        </label>
    </div>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Consultations & Training
        </label>
    </div>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Something else
        </label>
    </div>

    <button type="submit" class="btn btn-primary">Send Message</button>
</form>
