<form class="pb-4 form-text">
    <div class="mb-3">
        <label for="exampleInputName1" class="form-label">Full Name&nbsp;:</label>
        <input type="email" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputName1" class="form-label">Phone Number&nbsp;:</label>
        <input type="phone" class="form-control" id="exampleInputName1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address&nbsp;:</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your contact information with anyone else.</div>
    </div>

    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            General&nbsp;&vert;&nbsp;Something else
        </label>
    </div>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Sessions with Self&nbsp;&vert;&nbsp;Ser
        </label>
    </div>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Healing with Beloveds&nbsp;&vert;&nbsp;Amadxs
        </label>
    </div>
    <div class="mb-3 form-check">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="form-check-label" for="flexCheckDefault">
            Community&nbsp;&vert;&nbsp;Comunidad
            <br>Workshops, Trainings, Consultations
        </label>
    </div>

    <button type="submit" class="btn btn-warning">Send Message</button>
</form>
