<footer class="d-flex flex-wrap justify-content-between align-items-center p-4 bg-body-tertiary" id="footer">
	<div class="col-md-4 d-flex align-items-center">
		<span class="mb-3 mb-md-0">© 2024 Nathalie Joyce Rodríguez</span>
	</div>
	<ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="link-secondary link-underline-opacity-0 link-underline-opacity-100-hover" targe="_blank" href="https://secure.helloalma.com/providers/nathalie-rodriguez" >View Nathalie Joyce on ALMA</a></li>
	  <li class="ms-3">|</li>
      <li class="ms-3"><a class="link-secondary link-underline-opacity-0 link-underline-opacity-100-hover" targe="_blank" href="https://linkedin.com">LinkedIn</a></li>
	  <li class="ms-3">|</li>
	  <li class="ms-3"><a class="link-secondary link-underline-opacity-0 link-underline-opacity-100-hover" targe="_blank" href="https://facebook.com/NOFAMass/posts/10166663556415392">Facebook</a></li>
    </ul>
</footer>
