<blockquote>"Nathalie is the person you want by your side if you need to weather a storm, walk a hard road, or climb something seemingly insurmountable. She brings tremendous love, deep listening, life experience, and a rich spiritual practice to her personal and professional life. She is able to resource joy, play and hope in the face of hardship. As a colleague, I know her to be a person of integrity, fiercely committed to her values. She is able to say even the hardest things with love and grace. Her presence is prayer and medicine."</blockquote>
    <p>&mdash;denise goitia, licsw​</p>
<br>
<blockquote>"I’m always moved by Nathalie’s insights and ability to unearth root causes of discomfort toward true transformation. As someone who engages in her own contemplative practice, she is able to be present and listen deeply. She hears both what is said and what is yearning to be expressed beyond words. She brings the valuable, empowering skill of holistic herbalism to her practice, helping clients reconnect to Mother Earth and reclaim ancestral wisdom."</blockquote>
    <p>&mdash;vanessa chakour, herbalist, activist, and founder of sacred warrior​</p>
<br>
<blockquote>"Nathalie’s skill and care helped me settle my mind and heart as my mother was dying. She helped me move to a place of presence and tenderness. I am forever grateful for her insights, encouragement, and accompaniment."</blockquote>
    <p>&mdash;former client</p>
