<div class="parallax-section" id="home">
    <div class="parallax-content">
        <h1 style="text-transform: capitalize;">Relational Embodied Healing</h1>
        <h1>for collective liberation</h1>
        <hr>
        <h3>being in right relationship with self,&nbsp;</h3>
        <h3>with beloveds, and with community</h3>
    </div>
</div>

<!-- HOME -->
<div class="parallax-section" id="about">
    <div class="parallax-content">
        <h1>About</h1>
        <hr>
        <p>Nathalie Joyce is a queer bilingual curanderx (healer), folk herbalist, relationship counselor, and mother descended from a long lineage of Afro-Cuban healers and Gallega intuitives.</p>
        <p><strong>Passionate about supporting individuals and couples that hold QTBIPOC, LGBTQIA+, and disabled identities.</strong></p>
        <p>Living and practicing on unceded Nonotuck and Nipmuc land. They love cooking sopa de pollo, dancing with their family, and communing with the sweet waters and forests near their home.</p>
        <a class="btn btn-warning" href="about.html" role="button">Details & Rates</a>
    </div>
</div>

<!-- SELF SER -->
<div class="parallax-section" id="embodied-healing">
    <div class="parallax-content">
        <h1>Self&nbsp;&vert;&nbsp;Ser</h1>
        <hr>
        <p>Navigating life transitions, finding liberation in the face of oppression, healing from loss and grief, and deepening intimacy in relationship.</p>
        <a class="btn btn-warning" href="self-ser.html" role="button">Learn More</a>
    </div>
</div>

<!-- BELOVEDS AMADXS -->
<div class="parallax-section" id="relational-healing">
    <div class="parallax-content">
        <h1>Beloveds&nbsp;&vert;&nbsp;Amadxs</h1>
        <hr>
        <p>Liminal times are thresholds between the past and the future, entre mundos. Embodied healing sessions provide support and guidance as you navigate the in between spaces of your life.</p>
        <a class="btn btn-warning" href="self-ser.html" role="button">Learn More</a>
    </div>
</div>


<!-- COMMUNITY COMUNIDAD -->
<div class="parallax-section" id="community-consulta">
    <div class="parallax-content">
        <h1>Community&nbsp;&vert;&nbsp;Comunidad</h1>
        <hr>
        <p>Supportive cura and connection centering justice in community.</p>
        <a class="btn btn-warning" href="community-comunidad.html" role="button">Learn More</a>
    </div>
</div>

<!-- LOVE NOTES -->
<div class="parallax-section" id="praise">
    <div class="parallax-content">
        <h1>Love Notes</h1>
        <hr>
        <h3>&iexcl;Gracias!</h3>
        <%= render partial: "shared/carousel" %>
        <a class="btn btn-warning" href="love-notes.html" role="button">Leave a Note</a>
    </div>
</div>

<!-- CONTACT -->
<div class="parallax-section" id="contact">
    <div class="parallax-content">
        <h1>I am grateful that you are here.</h1>
        <h3>Let's connect!</h3>
        <hr>
        <%= render partial: "shared/contact-form" %>
        <br>
        <p style="color:#000; font-weight:bold;">*Please note that this form is not a secure method of communication.</p>
        <hr>
    </div>
</div>
