<!-- Content for Section 0 -->
<div class="parallax-section" id="section0">
    <div class="parallax-content">
        <h1 style="text-transform: capitalize;">Relational Healing for Collective Liberation</h1>
        <%# <p>Your <u>Section 0</u> content goes here.</p> %>
        <h3>creating space during life's most uncertain times</h3>
    </div>
</div>

<!-- Content for Section 1 -->
<div class="parallax-section" id="section1">
    <div class="parallax-content">
        <h1>About</h1>
        <%# <p>Your <u>Section 1</u> content goes here.</p> %>
        <p>Nathalie Joyce is a queer bilingual curanderx (healer), folk herbalist, relationship counselor, and mother descended from a long lineage of Afro-Cuban healers and Gallega intuitives.</p>
        <p style="font-weight: bold;">Passionate about supporting individuals and couples that hold QTBIPOC, LGBTQIA+, and disabled identities.</p>
        <p>Living and practicing on unceded Nonotuck and Nipmuc land. They love cooking sopa de pollo, dancing with their family, and communing with the sweet waters and forests near their home.</p>
    </div>
</div>

<!-- Content for Section 2 -->
<div class="parallax-section" id="section2">
    <div class="parallax-content">
        <h1>Embodied Healing for Liminial Times</h1>
        <%# <p>Your <u>Section 2</u> content goes here.</p> %>
        <p>Liminal times are thresholds between the past and the future, entre mundos. Embodied healing sessions provide support and guidance as you navigate the in between spaces of your life.</p>
    </div>
</div>

<!-- Content for Section 3 -->
<div class="parallax-section" id="section3">
    <div class="parallax-content">
        <h1>Relational Healing & Intimacy</h1>
        <%# <p>Your <u>Section 3</u> content goes here.</p> %>
        <p>Navigating life transitions, finding liberation in the face of oppression, healing from loss and grief, and deepening intimacy in relationship.</p>
    </div>
</div>

<!-- Content for Section 4 -->
<div class="parallax-section" id="section4">
    <div class="parallax-content">
        <h1>Community Consulta</h1>
        <%# <p>Your <u>Section 4</u> content goes here.</p> %>
        <p>Supportive cura and connection centering justice in community.</p>
    </div>
</div>

<!-- Content for Section 5 -->

<div class="parallax-section" id="section5">
    <div class="parallax-content">
        <hgroup style="text-color:#000;">
            <h1>Prayers & Praise</h1>
            <h3>The community chimes in...</h3>
            <br><br>
        <!-- Comments/Reviews -->
            <%= render partial: "shared/praise" %>
        </hgroup>
    </div>
</div>

<!-- Content for Section 9 -->
<div class="parallax-section" id="section9">
    <div class="parallax-content">
        <h1>Getting in touch</h1>
        <hr>
    <!-- Contact Form -->
        <%= render partial: "shared/contact-form" %>
        <br>
        <h5 style="color: black;">*Please note that this form is not a secure method of communication.</h5>
    </div>
</div>
