<div class="parallax-section" id="home">
    <div class="parallax-content">
        <h1 style="text-transform: capitalize;">Relational Healing for Collective Liberation</h1>
        <hr>
        <h3>creating space during life's most uncertain times</h3>
    </div>
</div>

<!-- HOME -->
<div class="parallax-section" id="about">
    <div class="parallax-content">
        <h1>About</h1>
        <hr>
        <p>Nathalie Joyce is a queer bilingual curanderx (healer), folk herbalist, relationship counselor, and mother descended from a long lineage of Afro-Cuban healers and Gallega intuitives.</p>
        <p><strong>Passionate about supporting individuals and couples that hold QTBIPOC, LGBTQIA+, and disabled identities.</strong></p>
        <p>Living and practicing on unceded Nonotuck and Nipmuc land. They love cooking sopa de pollo, dancing with their family, and communing with the sweet waters and forests near their home.</p>
    </div>
</div>

<!-- EMBODIED HEALING -->
<div class="parallax-section" id="embodied-healing">
    <div class="parallax-content">
        <h1>Embodied Healing for Liminial Times</h1>
        <hr>
        <p>Liminal times are thresholds between the past and the future, entre mundos. Embodied healing sessions provide support and guidance as you navigate the in between spaces of your life.</p>
    </div>
</div>

<!-- RELATIONAL HEALING -->
<div class="parallax-section" id="relational-healing">
    <div class="parallax-content">
        <h1>Relational Healing & Intimacy</h1>
        <hr>
        <p>Navigating life transitions, finding liberation in the face of oppression, healing from loss and grief, and deepening intimacy in relationship.</p>
    </div>
</div>

<!-- COMMUNITY CONSULTA -->
<div class="parallax-section" id="community-consulta">
    <div class="parallax-content">
        <h1>Community Consulta</h1>
        <hr>
        <p>Supportive cura and connection centering justice in community.</p>
    </div>
</div>

<!-- PRAISES -->
<div class="parallax-section" id="praise">
    <div class="parallax-content">
        <h1>Praises from You</h1>
        <h3>&iexcl;Gracias!</h3>
        <hr>
        <%= render partial: "shared/carousel" %>
    </div>
</div>

<!-- CONTACT -->
<div class="parallax-section" id="contact">
    <div class="parallax-content">
        <h1>Getting in touch</h1>
        <hr>
        <%= render partial: "shared/contact-form" %>
        <br>
        <p style="color:#000; font-weight:bold;">*Please note that this form is not a secure method of communication.</p>
        <hr>
    </div>
</div>
